#canvas_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -180px 0px 0px -180px;
    display: none;  /* ゲーム開始前は非表示 */
}

#selection {
    display: none;
}

#waiting {
    display: none;
}

#selection > div {
    margin-bottom: 50px;
}

#you_info {
    margin: 250px 0px 0px -150px;
}

#opponent_info {
    margin: -300px 0px 0px -150px;
}

.info {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #000;
    padding: 0px 15px 10px 15px;
    border-radius: 5px;
    width: 150px;
    display: none;
}

#you_stone, #opponent_stone {
    background-color: black;
    border-radius: 100%;
    padding: 0 1px;
    margin-right: 5px;
}

#msg {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #000;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    width: 250px;
    margin: 200px 0 0 -150px;
    display: none;
}

#surrender {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    width: 150px;
    margin: 250px 0 0 10px;
    display: none;
}

#restart {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    width: 150px;
    margin: 250px 0 0 10px;
    display: none;
}

#result {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    margin: 250px 0 0 -130px;
    background-color: rgba(196, 196, 196, 0.5);
    padding: 30px;
}

#again_btn {
    margin-bottom: 30px;
}

#debug_info {
    display: none;
}
