#login_btn {
    background-color: #5ab4bd;
    color: #FFFFFF;
}

.login_form > input {
    width: 100%;
    margin-bottom: 5px;
}

.login_btn_wrap {
    width: 80%;
    margin: auto;
}

.registration_btn_wrap {
    width: 80%;
    margin: auto;
}

.pass_forget_btn_wrap {
    width: 80%;
    margin: auto;
}
